In [106]:
#import essential libraries 
import pandas as pd
import numpy as np
import dateutil.parser as parser
import json as json

In [107]:
#load the jason file to a data frame and also save it as CSV to review easily   
df = pd.read_json (r'/Users/cha801/Documents/Jason/test.json')
df.to_csv (r'/Users/cha801/Documents/Jason/New_Products.csv', index = None)
df = pd.read_csv("/Users/cha801/Documents/Jason/New_Products.csv")

In [108]:
#check if data is loaded properly
df

,sightingId,surveyId,speciesId,projectSpeciesId,category1Id,category2Id,category3Id,category1Title,category2Title,category3Title,...,image3,image4,image5,audio1,lastConfirmedByUserId,lastConfirmedByUsername,lastConfirmedOn,make,model,os
0,4409411,0,4189,0,433,249,252,Insect,Moth (Lepidoptera),Geometer moth (Geometridae),...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,7041,ibaird,22/11/2021 4:13:53,samsung,SM-G781B,NaN
1,4409410,0,5530,0,1544,1553,0,Other Invertebrate,Flatworm (Platyhelminthes),NaN,...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,23645,turb,22/11/2021 4:09:53,samsung,SM-G781B,NaN
2,4409409,0,1038,0,431,1,0,Plant,Other Shrub,NaN,...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,22727,Tapirlord,22/11/2021 3:53:06,samsung,SM-G781B,NaN
3,4409405,0,6751,0,431,50,0,Plant,Other Wildflower or Herb,NaN,...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,22727,Tapirlord,22/11/2021 3:52:43,samsung,SM-G781B,NaN
4,4409446,0,11620,0,434,65,401,Bird,Other Birds,Intermediate size,...,https://api.naturemapr.org/api/sightings/44094...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,18546,Liam.m,22/11/2021 6:32:27,SONY,ILCE-7RM3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4409000,0,5665,0,434,59,406,Bird,Water bird,"Other Waterbirds (Crakes, Grebes, Gulls and Te...",...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,NaN,18546,Liam.m,20/11/2021 5:31:01,Google,Pixel 3a,NaN
96,4408999,0,8119,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,NaN,NaN,23830,Darcy,20/11/2021 1:38:49,Google,Pixel 3a,NaN
97,4408998,0,14252,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,NaN,23830,Darcy,20/11/2021 1:36:55,Google,Pixel 3a,NaN
98,4408997,0,282,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,NaN,23830,Darcy,20/11/2021 1:34:09,Google,Pixel 3a,NaN
99,4409090,0,11394,0,431,47,0,Plant,Pea,NaN,...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,NaN,22727,Tapirlord,21/11/2021 1:49:33,Apple,iPhone SE (1st generation),NaN

In [109]:
#rename the DwC terms
df = df.rename(columns=
{'sightingId':'catalogNumber',
'surveyId':'naturemaprSurveyId',
'speciesId':'naturemaprSpeciesID',
'projectSpeciesId':'naturemaprProjectSpeciesId',
'category1Id':'naturemaprCategory1Id',
'category2Id':'naturemaprCategory2Id',
'category3Id':'naturemaprCategory3Id',
'category1Title':'naturemaprCategory1Title',
'category2Title':'naturemaprCategory2Title',
'category3Title':'naturemaprCategory3Title',
'scientificName':'scientificName',
'commonName':'vernacularName',
'url':'recordNumber',
'latitude':'decimalLatitude',
'longitude':'decimalLongitude',
'altitude':'verbatimElevation',
'username':'recordedBy',
'abundanceDescription':'individualCount',
'descriptionPublic':'occurrenceRemarks',
'lastConfirmedByUsername':'identifiedBy',
'lastConfirmedByUserId':'identifiedID',
'lastConfirmedOn':'dateIdentified', 
'make':'deviceName',
'model':'deviceSpecification',
'os': 'deviceOperatingSystem'
})

In [110]:
#verifying the renamed columns
df

,catalogNumber,naturemaprSurveyId,naturemaprSpeciesID,naturemaprProjectSpeciesId,naturemaprCategory1Id,naturemaprCategory2Id,naturemaprCategory3Id,naturemaprCategory1Title,naturemaprCategory2Title,naturemaprCategory3Title,...,image3,image4,image5,audio1,identifiedID,identifiedBy,dateIdentified,deviceName,deviceSpecification,deviceOperatingSystem
0,4409411,0,4189,0,433,249,252,Insect,Moth (Lepidoptera),Geometer moth (Geometridae),...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,7041,ibaird,22/11/2021 4:13:53,samsung,SM-G781B,NaN
1,4409410,0,5530,0,1544,1553,0,Other Invertebrate,Flatworm (Platyhelminthes),NaN,...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,23645,turb,22/11/2021 4:09:53,samsung,SM-G781B,NaN
2,4409409,0,1038,0,431,1,0,Plant,Other Shrub,NaN,...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,22727,Tapirlord,22/11/2021 3:53:06,samsung,SM-G781B,NaN
3,4409405,0,6751,0,431,50,0,Plant,Other Wildflower or Herb,NaN,...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,NaN,22727,Tapirlord,22/11/2021 3:52:43,samsung,SM-G781B,NaN
4,4409446,0,11620,0,434,65,401,Bird,Other Birds,Intermediate size,...,https://api.naturemapr.org/api/sightings/44094...,https://api.naturemapr.org/api/sightings/44094...,NaN,NaN,18546,Liam.m,22/11/2021 6:32:27,SONY,ILCE-7RM3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4409000,0,5665,0,434,59,406,Bird,Water bird,"Other Waterbirds (Crakes, Grebes, Gulls and Te...",...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,NaN,18546,Liam.m,20/11/2021 5:31:01,Google,Pixel 3a,NaN
96,4408999,0,8119,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,NaN,NaN,23830,Darcy,20/11/2021 1:38:49,Google,Pixel 3a,NaN
97,4408998,0,14252,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,NaN,23830,Darcy,20/11/2021 1:36:55,Google,Pixel 3a,NaN
98,4408997,0,282,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,https://api.naturemapr.org/api/sightings/44089...,NaN,23830,Darcy,20/11/2021 1:34:09,Google,Pixel 3a,NaN
99,4409090,0,11394,0,431,47,0,Plant,Pea,NaN,...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,https://api.naturemapr.org/api/sightings/44090...,NaN,22727,Tapirlord,21/11/2021 1:49:33,Apple,iPhone SE (1st generation),NaN

In [116]:
df1= (df.loc[df['image1'].notnull()])
df2= (df.loc[df['image2'].notnull()])
df3= (df.loc[df['image3'].notnull()])
df4= (df.loc[df['image4'].notnull()])
df5= (df.loc[df['image5'].notnull()])
df1 = df1.rename(columns={'image1': 'image'})
df2 = df2.rename(columns={'image2': 'image'})
df3 = df3.rename(columns={'image3': 'image'})
df4 = df4.rename(columns={'image4': 'image'})
df5 = df5.rename(columns={'image4': 'image'})
final1 = df1[['catalogNumber','image']]
final2 = df2[['catalogNumber','image']]
final3 = df3[['catalogNumber','image']]
final4 = df4[['catalogNumber','image']]
final5 = df5[['catalogNumber','image']]
final = pd.concat([final1, final2, final3, final4, final5], ignore_index=True)

In [117]:
final = final.rename(columns=
                     {'image':'identifier'})

In [118]:
final.to_csv('/Users/cha801/Documents/Jason/images.csv',index = False)
final

     catalogNumber                                         identifier
0          4409411  https://api.naturemapr.org/api/sightings/44094...
1          4409410  https://api.naturemapr.org/api/sightings/44094...
2          4409409  https://api.naturemapr.org/api/sightings/44094...
3          4409405  https://api.naturemapr.org/api/sightings/44094...
4          4409446  https://api.naturemapr.org/api/sightings/44094...
..             ...                                                ...
275        4409003  https://api.naturemapr.org/api/sightings/44090...
276        4409000  https://api.naturemapr.org/api/sightings/44090...
277        4408998  https://api.naturemapr.org/api/sightings/44089...
278        4408997  https://api.naturemapr.org/api/sightings/44089...
279        4409090  https://api.naturemapr.org/api/sightings/44090...

[280 rows x 2 columns]

In [119]:
df['dateIdentified'] = pd.to_datetime(df['dateIdentified'],dayfirst=True).dt.strftime("%Y-%m-%d"" %H:%M:%S")
df['dateIdentified']

0     2021-11-22 04:13:53
1     2021-11-22 04:09:53
2     2021-11-22 03:53:06
3     2021-11-22 03:52:43
4     2021-11-22 06:32:27
             ...
95    2021-11-20 05:31:01
96    2021-11-20 01:38:49
97    2021-11-20 01:36:55
98    2021-11-20 01:34:09
99    2021-11-21 01:49:33
Name: dateIdentified, Length: 100, dtype: object

In [120]:
df['reportedDateTime']

0      22/11/2021 2:45:00
1      22/11/2021 2:43:00
2      22/11/2021 2:42:00
3      22/11/2021 2:35:00
4      22/11/2021 1:12:00
             ...
95    19/11/2021 22:06:00
96    19/11/2021 21:58:00
97    19/11/2021 21:57:00
98    19/11/2021 21:52:00
99    19/11/2021 21:45:00
Name: reportedDateTime, Length: 100, dtype: object

In [121]:
df[['eventDate','eventTime']] = df["reportedDateTime"].str.split(" ", 1, expand=True)
df['eventDate'] = pd.to_datetime(df['eventDate'],dayfirst=True).dt.strftime('%Y-%m-%d')

In [134]:
df['recordNumber'] = 'https://canberra.naturemapr.org' + df['recordNumber'].astype(str)
df['recordNumber']

0     https://canberra.naturemapr.org/sightings/4409411
1     https://canberra.naturemapr.org/sightings/4409410
2     https://canberra.naturemapr.org/sightings/4409409
3     https://canberra.naturemapr.org/sightings/4409405
4     https://canberra.naturemapr.org/sightings/4409446
                            ...
95    https://canberra.naturemapr.org/sightings/4409000
96    https://canberra.naturemapr.org/sightings/4408999
97    https://canberra.naturemapr.org/sightings/4408998
98    https://canberra.naturemapr.org/sightings/4408997
99    https://canberra.naturemapr.org/sightings/4409090
Name: recordNumber, Length: 100, dtype: object

In [122]:
df['naturemaprSpeciesID'] = 'https://canberra.naturemapr.org/species/' + df['naturemaprSpeciesID'].astype(str)
df['naturemaprSpeciesID']

0      https://canberra.naturemapr.org/species/4189
1      https://canberra.naturemapr.org/species/5530
2      https://canberra.naturemapr.org/species/1038
3      https://canberra.naturemapr.org/species/6751
4     https://canberra.naturemapr.org/species/11620
                          ...
95     https://canberra.naturemapr.org/species/5665
96     https://canberra.naturemapr.org/species/8119
97    https://canberra.naturemapr.org/species/14252
98      https://canberra.naturemapr.org/species/282
99    https://canberra.naturemapr.org/species/11394
Name: naturemaprSpeciesID, Length: 100, dtype: object

In [123]:
df[['locality','stateProvince']] = df["locationDescription"].str.split(",", 1, expand=True)
df['locality'] = df['locality'].str.replace(" ","")
df['stateProvince'] = df['stateProvince'].str.replace(" ","")

In [124]:
df[['locality','stateProvince']]

    locality stateProvince
0   O'Connor           ACT
1   O'Connor           ACT
2   O'Connor           ACT
3   O'Connor           ACT
4   Pialligo           ACT
..       ...           ...
95    Leeton           NSW
96    Leeton           NSW
97    Leeton           NSW
98    Leeton           NSW
99    Manton           NSW

[100 rows x 2 columns]

In [125]:
df['basisOfRecord'] = np.where(df['deviceName'].notna(), "Human Observation", df['deviceName'] )

In [126]:
df

,catalogNumber,naturemaprSurveyId,naturemaprSpeciesID,naturemaprProjectSpeciesId,naturemaprCategory1Id,naturemaprCategory2Id,naturemaprCategory3Id,naturemaprCategory1Title,naturemaprCategory2Title,naturemaprCategory3Title,...,identifiedBy,dateIdentified,deviceName,deviceSpecification,deviceOperatingSystem,eventDate,eventTime,locality,stateProvince,basisOfRecord
0,4409411,0,https://canberra.naturemapr.org/species/4189,0,433,249,252,Insect,Moth (Lepidoptera),Geometer moth (Geometridae),...,ibaird,2021-11-22 04:13:53,samsung,SM-G781B,NaN,2021-11-22,2:45:00,O'Connor,ACT,Human Observation
1,4409410,0,https://canberra.naturemapr.org/species/5530,0,1544,1553,0,Other Invertebrate,Flatworm (Platyhelminthes),NaN,...,turb,2021-11-22 04:09:53,samsung,SM-G781B,NaN,2021-11-22,2:43:00,O'Connor,ACT,Human Observation
2,4409409,0,https://canberra.naturemapr.org/species/1038,0,431,1,0,Plant,Other Shrub,NaN,...,Tapirlord,2021-11-22 03:53:06,samsung,SM-G781B,NaN,2021-11-22,2:42:00,O'Connor,ACT,Human Observation
3,4409405,0,https://canberra.naturemapr.org/species/6751,0,431,50,0,Plant,Other Wildflower or Herb,NaN,...,Tapirlord,2021-11-22 03:52:43,samsung,SM-G781B,NaN,2021-11-22,2:35:00,O'Connor,ACT,Human Observation
4,4409446,0,https://canberra.naturemapr.org/species/11620,0,434,65,401,Bird,Other Birds,Intermediate size,...,Liam.m,2021-11-22 06:32:27,SONY,ILCE-7RM3,NaN,2021-11-22,1:12:00,Pialligo,ACT,Human Observation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4409000,0,https://canberra.naturemapr.org/species/5665,0,434,59,406,Bird,Water bird,"Other Waterbirds (Crakes, Grebes, Gulls and Te...",...,Liam.m,2021-11-20 05:31:01,Google,Pixel 3a,NaN,2021-11-19,22:06:00,Leeton,NSW,Human Observation
96,4408999,0,https://canberra.naturemapr.org/species/8119,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,Darcy,2021-11-20 01:38:49,Google,Pixel 3a,NaN,2021-11-19,21:58:00,Leeton,NSW,Human Observation
97,4408998,0,https://canberra.naturemapr.org/species/14252,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,Darcy,2021-11-20 01:36:55,Google,Pixel 3a,NaN,2021-11-19,21:57:00,Leeton,NSW,Human Observation
98,4408997,0,https://canberra.naturemapr.org/species/282,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,Darcy,2021-11-20 01:34:09,Google,Pixel 3a,NaN,2021-11-19,21:52:00,Leeton,NSW,Human Observation
99,4409090,0,https://canberra.naturemapr.org/species/11394,0,431,47,0,Plant,Pea,NaN,...,Tapirlord,2021-11-21 01:49:33,Apple,iPhone SE (1st generation),NaN,2021-11-19,21:45:00,Manton,NSW,Human Observation

In [128]:
dynamic = df[['catalogNumber','conservationLevelId','invasivenessLevelId','sensitivityLevelId','conservationLevel','sensitivityLevel','invasivenessLevel']]

In [129]:
df['dynamicProperties'] = dynamic.to_json(orient='records', lines=True).splitlines()
df['dynamicProperties']

0     {"catalogNumber":4409411,"conservationLevelId"...
1     {"catalogNumber":4409410,"conservationLevelId"...
2     {"catalogNumber":4409409,"conservationLevelId"...
3     {"catalogNumber":4409405,"conservationLevelId"...
4     {"catalogNumber":4409446,"conservationLevelId"...
                            ...
95    {"catalogNumber":4409000,"conservationLevelId"...
96    {"catalogNumber":4408999,"conservationLevelId"...
97    {"catalogNumber":4408998,"conservationLevelId"...
98    {"catalogNumber":4408997,"conservationLevelId"...
99    {"catalogNumber":4409090,"conservationLevelId"...
Name: dynamicProperties, Length: 100, dtype: object

In [130]:
df

,catalogNumber,naturemaprSurveyId,naturemaprSpeciesID,naturemaprProjectSpeciesId,naturemaprCategory1Id,naturemaprCategory2Id,naturemaprCategory3Id,naturemaprCategory1Title,naturemaprCategory2Title,naturemaprCategory3Title,...,dateIdentified,deviceName,deviceSpecification,deviceOperatingSystem,eventDate,eventTime,locality,stateProvince,basisOfRecord,dynamicProperties
0,4409411,0,https://canberra.naturemapr.org/species/4189,0,433,249,252,Insect,Moth (Lepidoptera),Geometer moth (Geometridae),...,2021-11-22 04:13:53,samsung,SM-G781B,NaN,2021-11-22,2:45:00,O'Connor,ACT,Human Observation,"{""catalogNumber"":4409411,""conservationLevelId""..."
1,4409410,0,https://canberra.naturemapr.org/species/5530,0,1544,1553,0,Other Invertebrate,Flatworm (Platyhelminthes),NaN,...,2021-11-22 04:09:53,samsung,SM-G781B,NaN,2021-11-22,2:43:00,O'Connor,ACT,Human Observation,"{""catalogNumber"":4409410,""conservationLevelId""..."
2,4409409,0,https://canberra.naturemapr.org/species/1038,0,431,1,0,Plant,Other Shrub,NaN,...,2021-11-22 03:53:06,samsung,SM-G781B,NaN,2021-11-22,2:42:00,O'Connor,ACT,Human Observation,"{""catalogNumber"":4409409,""conservationLevelId""..."
3,4409405,0,https://canberra.naturemapr.org/species/6751,0,431,50,0,Plant,Other Wildflower or Herb,NaN,...,2021-11-22 03:52:43,samsung,SM-G781B,NaN,2021-11-22,2:35:00,O'Connor,ACT,Human Observation,"{""catalogNumber"":4409405,""conservationLevelId""..."
4,4409446,0,https://canberra.naturemapr.org/species/11620,0,434,65,401,Bird,Other Birds,Intermediate size,...,2021-11-22 06:32:27,SONY,ILCE-7RM3,NaN,2021-11-22,1:12:00,Pialligo,ACT,Human Observation,"{""catalogNumber"":4409446,""conservationLevelId""..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4409000,0,https://canberra.naturemapr.org/species/5665,0,434,59,406,Bird,Water bird,"Other Waterbirds (Crakes, Grebes, Gulls and Te...",...,2021-11-20 05:31:01,Google,Pixel 3a,NaN,2021-11-19,22:06:00,Leeton,NSW,Human Observation,"{""catalogNumber"":4409000,""conservationLevelId""..."
96,4408999,0,https://canberra.naturemapr.org/species/8119,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,2021-11-20 01:38:49,Google,Pixel 3a,NaN,2021-11-19,21:58:00,Leeton,NSW,Human Observation,"{""catalogNumber"":4408999,""conservationLevelId""..."
97,4408998,0,https://canberra.naturemapr.org/species/14252,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,2021-11-20 01:36:55,Google,Pixel 3a,NaN,2021-11-19,21:57:00,Leeton,NSW,Human Observation,"{""catalogNumber"":4408998,""conservationLevelId""..."
98,4408997,0,https://canberra.naturemapr.org/species/282,0,434,65,400,Bird,Other Birds,"Small (Robin, Finch, Thornbill etc)",...,2021-11-20 01:34:09,Google,Pixel 3a,NaN,2021-11-19,21:52:00,Leeton,NSW,Human Observation,"{""catalogNumber"":4408997,""conservationLevelId""..."
99,4409090,0,https://canberra.naturemapr.org/species/11394,0,431,47,0,Plant,Pea,NaN,...,2021-11-21 01:49:33,Apple,iPhone SE (1st generation),NaN,2021-11-19,21:45:00,Manton,NSW,Human Observation,"{""catalogNumber"":4409090,""conservationLevelId""..."

In [132]:
df = df.drop(columns=['conservationLevelId','invasivenessLevelId','sensitivityLevelId','conservationLevel','sensitivityLevel','invasivenessLevel','reportedDateTime','locationDescription','jsonAttributes','descriptionPrivate','image5','image4','image3','image2','image1'])

In [133]:
df.to_csv('/Users/cha801/Documents/Jason/occurrence.csv',index = False)